#square {
    height: 20px;
    width: 100px;
    background-color:gray;
    position: absolute;
    top: 500px;
    left: 100px;
    border-radius: 12px;
}
.dick {
    height: 20px;
    width: 100px;
    background-color:red;
    position: absolute;
    top: 100px;
    left: 100px;
    border-radius: 12px;
}