h3 {
    color:rgb(118, 118, 148);
    background-color: cornsilk;
    font-size: medium;
    font-weight: 800;
}
#second {
    font-style: oblique;
    font-size: medium;
}
.yellow {
    color: yellow;
}
.images {
    width: 1500px;
    max-height: 300px;
}
.images img{
    max-width: 300px;
    padding: 30px;
}